:root {
  --brand-color: #2196f3;
  --brand-color-body: #212121;
  --brand-color-background: #2f303a;
  --brand-color-description: #757575;
  --brand-color-bright-background: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-body);
  width: 1600px;
  padding: 0 200px;
}
.container {
  display: inline-block;
  width: 1200px;
  margin: 0 auto;
}

.blue-logo {
  color: var(--brand-color);
}
.link {
  color: unset;
  text-decoration: none;
}

.link:hover {
  color: var(--brand-color);
}

.link:focus {
  color: var(--brand-color);
}
.header {
  height: 80px;
  border-bottom: 1px inset #eee;
}

.nav {
  display: inline;
  font-size: 14px;
  font-weight: 500;
}

.agencja {
  margin-left: 93px;
}

.portfolio {
  margin-left: 46px;
}

.kontakt {
  margin-left: 46px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  height: 120px;
  color: #ffffff;
  display: inline-block;
  margin-top: 200px;
  margin-inline: auto;
  text-align: center;
  letter-spacing: 0.06em;
}

.title-wrapper {
  background-color: var(--brand-color-background);
  text-align: center;
  height: 600px;
}

.button:hover {
  background-color: var(--brand-color);
  color: #ffffff;
}

.button {
  cursor: pointer;
}
.main.button {
  width: 200px;
  height: 50px;
}

.header-logo {
  font-family: "Raleway";
  color: #000;
  font-weight: 700;
  font-size: 26px;
  display: inline-block;
  margin-left: 215px;
  margin-top: 25px;
}

.first-page-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.first-page-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--brand-color-description);
  width: 270px;
  height: 75px;
}

.first-page-mid-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;
}

.upper-section {
  display: flex;
  justify-content: space-around;
}

.mid-section {
  background-color: var(--brand-color-bright-background);
  height: 648px;
}

.mid-section div {
  background-color: #ffffff;
}

.mid-section h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.mid-section p {
  color: var(--brand-color-description);
  font-size: 16px;
  line-height: 1.18;
}

.footer {
  background-color: var(--brand-color-background);
  color: #ffffff;
  height: 252px;
  width: 1600px;
}

.footer-logo {
  font-size: "Raleway";
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.contact-footer {
  color: unset;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.contact-header {
  color: unset;
  text-decoration: none;
  color: var(--brand-color-description);
  margin-left: 371px;
}

.second-page-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.second-page-section h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.second-page-section p {
  font-size: 16px;
  line-height: 1.87;
  color: var(--brand-color-description);
}

.list-item {
  flex-basis: calc((100% - 30px) / 3);
}

.portfolio-button {
  width: 121px;
  height: 38px;
}

.portfolio-buttons {
  list-style-type: none;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-buttons-div {
  margin-bottom: 50px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px 0;
}
